.container-shared {
  width: 100%;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.493);
  position: fixed;
  top:0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index:800;
  gap: 10px;
}

.container-shared-text {
  width: 80%;
  height: auto;
  padding: 1rem;
  background-color: #A5D6A7;
  box-shadow: 3px 3px 5px black;
  border-radius: .75rem;
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
}
.container-shared-text-error {
  width: 80%;
  height: auto;
  padding: 1rem;
  background-color: #f30943;
  box-shadow: 3px 3px 5px black;
  border-radius: .75rem;
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
  color: white;
}

@media screen and ( min-width: 37em) {
  .container-shared-text, .container-shared-text-error {
    width: 30%;
  }
}

@media screen and ( min-width: 500px) {
  .container-shared-text .container-shared-text-error {
    width: 30%;
  }
}

@media screen and ( min-width: 1000px) {
  .container-shared-text .container-shared-text-error {
    width: 70%;
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}