.container-app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1; /* ✅ Ocupa el espacio libre y empuja el footer hacia abajo */
}

footer {
  background-color: grey;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.footer-logo {
  width:40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.footer-logo img {
  width: 40%;
}
.footer-info, .footer-programador-info {
  width: 60%;
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.footer-info {
  flex-direction: column;
  text-align: center;
}

.footer-programador-info {
  justify-content: center;
  gap: 10px;
  font-size: .8rem;
}
.footer-programador-info img {
  width: 30px;
}

button {
  cursor: pointer;
}

@media screen and (min-width: 1024px) { 
  footer {
  background-color: grey;
  color: white;
  display: flex;
  flex-direction: row;
}
.footer-logo {
  width:30%;
  margin-top: 0;
}

.footer-logo img {
  width: 30%;
  
}
}